@import "tailwindcss";

/* ===== Radix light theme override ===== */
.radix-themes.light {
  --color-background: #FCFDFA;
  --color-foreground: #1C2024;

}

/* ===== Radix dark theme ===== */
.radix-themes.dark {
  --color-background: #0F1115;
  --color-foreground: #FCFDFA;

}

/* ===== reset ===== */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* ===== Container (1152 + responsive padding) ===== */
.container {
  max-width: 1152px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}

